*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
h1{
    background-color: green;
    text-align: center;
    padding: 30px 0px;
}

h2{
    text-align: center;
    text-decoration: underline;
    margin: 20px 0px;
}

#random-name {
    margin: 2rem 0;
  }
  
  .container .box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }